<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Home</title>
    <meta name='viewport'
        content='width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no' />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="" rel="stylesheet">
</head>

<body>
    <h1>Wellcome to the Text Analyzer. Enter Your Text Bellow</h1>

    <form action="/remove_punc" method="GET">
        <textarea name="text" cols="30" rows="10" data-dashlane-rid="2c37214c6147c012" data-form-type="" style="margin: 0px; width: 765px; height: 260px;"></textarea>
        <br>
        <button type="submit">Analyze Text</button>
    </form>

</body>

</html>